{{ define "header" }}{{ partial "light-page-header.html" . }}{{ end }}
{{ define "main" }}
<!-- -->
<div class="mt1 tc c-helvetica-neue ma3-l">
    <!-- Fazenda Santa Inacia-->
    <div class="flex-l pt5 pb4">
        <article class="center cf pv4 ph3 ph4-ns mw7">
            <p class="tl nested-copy-line-height lh-copy f2 nested-links nested-img ma0 fw3">
                Meet your <b class="green">farmers</b>.
            </p>
            <br />
            <h2 class="tl mw7 fw3 f4 lh-copy mt0 mb3">
                <!-- <p class="nested-copy-line-height lh-copy f4 nested-links nested-img ma1 black-70 pt3"> -->
                Although our vision is to eventually bootstrap an open marketplace for farmers, roasters, and customers
                to find each other, we need to take one step at a time and find out if programmable money can work for
                our own farms first. Here's a chance to learn more about them and the history behind this cup of
                coffee.
                <!-- <br /><br /> -->
                <!-- <h3 class="mw6 center">Our farms are located in a tiny town of Pedralva, MG (South of Minas Gerais), Brazil.</h3> -->
                <!-- </p> -->
            </h2>
            <br />
            <p class="nested-copy-line-height lh-copy f1 nested-links nested-img ma4 fw3">
                <b class="green">Santa Inacia Farm</b>
            </p>
        </article>
    </div>
    <!--  -->
    <div style="background-image:url(/images/farms/santa_inacia/rosie.jpg);" class="cover bg-top">
        <div class="bg-black-20 pb7">
            <article class="cf pv5 ph3 ph4-ns">
                <div class="fr-l bg-black-70 mw6-5">
                    <p class="ma4 pt3 nested-copy-line-height lh-copy f3 nested-links nested-img fw3 light-red">
                        Rosiane Alencar and David Boyko
                    </p>
                    <!-- <p class="nested-copy-line-height lh-copy f4 near-white nested-links nested-img ma1 pt3"> -->
                    <h2 class="tl fw2 f3 ma4 lh-copy mt0 mb3 pb3 near-white">
                        What used to be a sugar cane plantation gave
                        origin to an extremely healthy soil.
                        <br /><br />
                        The favorable climate and altitude from 1100 to 1450 meters above sea level makes the
                        right combination to cultivate and produce a very special coffee.
                        <br /><br />
                        Location: Pedralva, Minas Gerais, Brazil.<br />
                        Varieties: Red Catuai, Yellow Catuai, Catuaí, Mundo Novo and Yellow Bourbon.<br />
                        Process: Washed and dry pulping.
                    </h2>
                    <!-- </p> -->
                </div>
            </article>
        </div>
    </div>
    <!-- -->
    <div class="cf dt-l w-100 pv0">
        <div class="dtc-l v-mid f6 f5-m f4-l">
            <p class=" pv2-l tl pb4">
                <h2 class="center f4-m fw3-m fw3 f3 lh-copy mw6 l ma4 pa1">
                    Equipped with dry mill, screen size, weight, and color sorting machines, coffee is carefully hand
                    picked, dried, and processed at the farm itself - all contributing to the <b class="red">freshness
                    </b> and <b class="red">quality</b> of the coffee bean.
                    <!-- The favorable climate combined with altitude  of 1250 to 1450 meters above sea level and topography makes the  right combination to cultivate and produce special coffee. -->
                </h2>
            </p>
        </div>
        <div class="dtc-l v-mid mw6 pr0-l pt2-m ma3-m pr4-m pl0-l">
            <img src="/images/farms/santa_inacia/farm_top_view3.jpg">
        </div>
    </div>
    <!-- -->
    <div class="cf dt-l w-100 pv0">
        <div class="dtc-l v-mid mw6 pr0-l pt2-m ma3-m pr4-m pl0-l">
            <img src="/images/farms/santa_inacia/estufa.jpg">
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l ">
            <p class=" pv2-l tl pb4">
                <h2 class="center fw3 f3 lh-copy mw6 l ma4">
                    Greenhouses help dry the coffee using the sun's heat. Despite slower, it is more gentle and
                    therefore helps the beans keep their <b class="red"></b>natural sweet taste</b>.
                </h2>
            </p>
        </div>
    </div>
    <div class="cf dt-l w-100 pv0">
        <div class="dtc-l v-mid f6 f5-m f4-l ">
            <p class=" pv2-l tl pb4">
                <h2 class="center fw3 f3 lh-copy mw6 l ma4">
                    Coffee species Red Catuai, Yellow Catuai, Catucai, Mundo Novo and Yellow Bourbom are cultivated in
                    this farm, employing over 20 families.
                    <!-- The favorable climate combined with altitude  of 1250 to 1450 meters above sea level and topography makes the  right combination to cultivate and produce special coffee. -->
                </h2>
            </p>
        </div>
        <div class="dtc-l v-mid mw6 pr0-l pt2-m ma3-m pr4-m pl0-l">
            <img src="/images/farms/santa_inacia/red_beans_3.jpg">
        </div>
    </div>
    <!-- Fazenda Santa Teresa-->
    <div class="flex-l pt5 pb4">
        <article class="center cf pv4 ph3 ph4-ns mw7">
                <p class="nested-copy-line-height lh-copy f1 nested-links nested-img ma4 fw3">
                        <b class="green">Santa Teresa Farm</b>
                    </p>
    </div>
    </article>
    <!--  -->
    <div style="background-image:url(/images/farms/agua_limpa/Isley.jpg);" class="cover bg-top">
        <div class="bg-black-20 pb7">
            <article class="cf pv5 ph3 ph4-ns">
                <div class="fl-l bg-black-70 mw6-5">
                    <p class="ma4 pt3 nested-copy-line-height lh-copy f3 nested-links nested-img fw3 light-red">
                       Isley de Alencar Jr. & Family
                    </p>
                    <!-- <p class="nested-copy-line-height lh-copy f4 near-white nested-links nested-img ma1 pt3"> -->
                    <h2 class="tl fw2 f3 ma4 lh-copy mt0 mb3 pb3 near-white">
                        Years of experience come into play to make the best out of each coffee grain, and in that regard, coffee tradition is in the family as far as they can tell about the past - Alencar is a 3rd generation family-run coffee producer.
                        <br /><br />
                        Location: Pedralva, Minas Gerais, Brazil.<br />
                        Altitude: 1300 meters above sea level.<br />
                        Varieties: Yellow and Red Catuaí.<br />
                        Process: Washed and dry pulping.
                    </h2>
                    <!-- </p> -->
                </div>
            </article>
        </div>
    </div>
    <!-- -->
    <div class="cf dt-l w-100 pv0">
        <div class="dtc-l v-mid f6 f5-m f4-l">
            <p class=" pv2-l tl pb4">
                <h2 class="center f4-m fw3-m fw3 f3 lh-copy mw6 l ma4 pa1">
                    Santa Teresa is surrounded by a deep native forest. In this forest there are wild bees that helps with polinising the coffee trees - resulting in a very productive and healthy harvest.
                    <!-- The favorable climate combined with altitude  of 1250 to 1450 meters above sea level and topography makes the  right combination to cultivate and produce special coffee. -->
                </h2>
            </p>
        </div>
        <div class="dtc-l v-mid mw6 pr0-l pt2-m ma3-m pr4-m pl0-l">
            <img src="/images/farms/agua_limpa/horizontal_forest.jpg">
        </div>
    </div>
    <!-- -->
    <div class="cf dt-l w-100 pv0">
        <div class="dtc-l v-mid mw6 pr0-l pt2-m ma3-m pr4-m pl0-l">
            <img src="/images/farms/agua_limpa/banana_with_coffee.jpg">
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l ">
            <p class=" pv2-l tl pb4">
                <h2 class="center fw3 f3 lh-copy mw6 l ma4">
                    Banana trees are planted intertwined with the coffee trees, providing natural shade conditions that optimises the amount of sun light reaching the coffee tree, as well as taking care of the environment, keeping the local biodiversity and birds habitat healthy.
                </h2>
            </p>
        </div>
    </div>
    <div class="cf dt-l w-100 pv0">
        <div class="dtc-l v-mid f6 f5-m f4-l ">
            <p class=" pv2-l tl pb4">
                <h2 class="center fw3 f3 lh-copy mw6 l ma4">
                    Picture of Red Catuaí cherries taken from 2018's harvest (photo shot in April).
                </h2>
            </p>
        </div>
        <div class="dtc-l v-mid mw6 pr0-l pt2-m ma3-m pr4-m pl0-l">
            <img src="/images/farms/agua_limpa/20190330.jpg">
        </div>
    </div>
       <!-- Call to action-->
       <div class="flex-l pt5 pb4">
            <article class="center cf pv4 ph3 ph4-ns mw7">
                <p class="tl nested-copy-line-height lh-copy f2 nested-links nested-img ma0 fw3">
                    How about a cup of coffee now? 
                </p>
                <br />
                <a class="f5 br-pill bg-dark-green no-underline washed-green ba b--dark-green grow pv2 ph3 dib mr3"
          href="/shop">
        Shop 
        </a>
            </article>
        </div>
</div>
{{ end }}