.c-helvetica-neue {
    /* font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.38105;
    letter-spacing: .011em;
  }

  .f4-5 { font-size: 1.08rem; }

  .mw6-5  {  max-width: 38rem; }

  .bg-black-75 {         background-color: rgba(0, 0, 0, .75); }

.highlight-span {
  font-family: "Helvetica Neue";
    background-color: #010;
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
    padding: 0 7px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

img.img50-50 {
      max-width:50px;
      max-height:50px;
}