.c-helvetica-neue {
    /* font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.38105;
    letter-spacing: .011em;
  }

  .f4-5 { font-size: 1.08rem; }

  .mw6-5  {  max-width: 38rem; }

.highlight-span {
    background-color: #333;
    color: #fff;
    font-weight: 400;
    line-height: 1.25;
    padding: 0 4px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}