.helvetica-neue {
    /* font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.38105;
    letter-spacing: .011em;
    font-size: 19px;
  }